@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.scss';

@layer base {
  body {
    @apply tw-font-gilroy tw-font-normal no-scrollbar;
    font-size: 16px;
    &::-webkit-scrollbar {
      display: none;
    }
    & * {
      @apply no-scrollbar;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .button-text {
    @apply tw-font-gilroy tw-font-semibold;
    font-size: 16px;
    line-height: 20px;
  }
}
@layer components {
  .env-t {
    padding-top: max(20px, env(safe-area-inset-top, 20px));
  }

  .env-b {
    padding-bottom: max(10px, env(safe-area-inset-bottom, 10px));
  }
  .h1 {
    @apply tw-font-ua-brand tw-font-black;
    font-size: 30px;
    line-height: 34px;
  }
  .h2 {
    @apply tw-font-ua-brand tw-font-bold;
    font-size: 20px;
    line-height: 24px;
  }
  .h3 {
    @apply tw-font-ua-brand tw-font-bold;
    font-size: 16px;
    line-height: 20px;
  }
  .p1 {
    @apply tw-font-gilroy tw-font-normal;
    font-size: 16px;
    line-height: 22px;
  }
  .p2 {
    @apply tw-font-gilroy tw-font-normal;
    font-size: 14px;
    line-height: 18px;
  }
  .p3 {
    @apply tw-font-gilroy tw-font-normal;
    font-size: 12px;
    line-height: 18px;
  }

  .nav-panel {
    @apply tw-bg-white;
    backdrop-filter: blur(20px);
    box-shadow: 0px 6px 26.1px 0px #2526300f;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
  }
  .tab-min {
    @apply tw-bg-white p1 tw-flex tw-items-center tw-justify-center tw-gap-2 tw-w-fit tw-min-w-[76px] tw-px-3;

    border-radius: 30px;
    height: 55px;
    transition: all 0.3s ease-in-out;
    &.active {
      @apply tw-bg-geen_btn;
    }
    &__icon {
      width: 34px;
      height: 34px;
      border-radius: 9999px;
      overflow: hidden;
      background: theme('colors.blue_bg');
      display: grid;
      place-content: center;
      & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .checkbox {
    display: block;
    span {
      @apply p1;
      position: relative;
      padding-left: 31px;

      &::before {
        content: '';
        @apply tw-w-[23px] tw-h-[23px] tw-rounded-full   tw-absolute  tw-bg-blue_bg;
        top: -5px;
        left: 0;
      }

      &::after {
        content: '';
        @apply tw-w-4 tw-h-4 tw-rounded-full  tw-opacity-0 tw-absolute tw-top-0 tw-left-1;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.2381L6 11L13 1' stroke='%23161616' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: 12px 10px;
        background-position: center;
      }
    }

    input:checked + span::after {
      @apply tw-opacity-100;
    }
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: grid;
    align-content: center;
    padding: 16px;
    &__wrapper {
      display: grid;
      align-content: center;
    }
  }
}
@layer utilities {
  .card-white {
    @apply tw-rounded-32 tw-bg-white tw-px-3 tw-py-8;
  }

  .link {
    @apply tw-text-blue_link;
  }
  .no-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
  .slider__pagination-orher {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  .slider__pagination-orher .swiper-pagination-bullet {
    @apply tw-bg-blue_icon tw-w-[6px] tw-h-[6px];
    transition: all 0.3s ease;
    flex-shrink: 0;
  }
  .slider__pagination-orher .swiper-pagination-bullet-active {
    @apply tw-bg-gray_main tw-w-[27px];
    border-radius: 6px;
  }

  .slider-other .swiper-pagination {
    .swiper-pagination-bullet {
      @apply tw-bg-blue_icon tw-w-[6px] tw-h-[6px];
      transition: all 0.3s ease;
      flex-shrink: 0;
    }
    .swiper-pagination-bullet-active {
      @apply tw-bg-gray_main tw-w-[27px];
      border-radius: 6px;
    }
  }
}
