.card-primary {
  border-radius: var(--radius, 32px);
  padding: var(--py, 20px) var(--py, 20px);
  @apply tw-bg-white;
}

.gradient-card {
  background: linear-gradient(180deg, #F4F7FF 0%, #DFE7FF 100%);
}

.btn-to {
  background: linear-gradient(90deg, #E9FF5E 0%, #EAF890 23.56%, #E7FF4F 48.56%, #EDFA98 78.85%, #E9FF5E 100%);
  height: 46px;
  padding-inline: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  border-radius: 48px;
}

.badges {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

.badge {
  --radius: 20px;
  display: inline-block;
  padding: 6px 12px;
  line-height: 1;
  @apply tw-text-white;

  &-sm {
    padding: 4px 8px;
  }

  &-lg {
    padding: 8px 12px;
  }

  &-sm, &-lg {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-weight: 400;
  }
}

.offer-bg {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 298px;
  border-radius: 0 0 32px 32px;
}
