.home-card {
  --py: 16px;
  --px: 12px;

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
    @apply tw-text-gray_main;
  }

  &__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 12px;
    @apply tw-text-gray_icon2;
  }
}
